/*--MAIN-SECTION-STYLES--*/

.main-section {
	background-color: #fafafa;
	padding: 1rem;
	width: 100%;
}
.cards-ctn {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.4rem;
	width: 100%;
	justify-items: center;
	margin-top: 3rem;
}

/*--CONTROLS-BAR-STYLES--*/

.controls-bar {
	width: 100%;
	height: 5rem;
	margin: 1rem auto;
	border-bottom: 2px solid gainsboro;
	display: grid;
	grid-template: 1fr / max-content auto max-content;
	align-items: center;
	position: relative;
}
.controls-bar:first-child {
	padding-bottom: 8rem;
}

.gallery-paging {
	margin-right: 1rem;
}

.sort-controls-ctn {
	position: absolute;
	bottom: 0rem;
	left: 0;
	width: 100%;
	overflow-x: scroll;
}
.sort-controls-ctn > p {
	width: max-content;
}

.sort-option-btn {
	line-height: 1.3rem;
	padding: 0.5rem 1rem;
	margin: 0 0.5rem;
	background-color: #f0f0f0;
	color: gray;
	border-radius: 1rem;
	border: none;
}
.sort-option-btn.active {
	background-color: #0ad4fa;
	color: white;
}

/*--ARROWS--*/
.arrows-ctn {
	justify-self: end;
}
.arrow-icon {
	cursor: pointer;
	margin: 0.1rem;
}
.arrow-icon:hover #Oval-4 {
	fill: white;
}
.arrow-icon.right {
	transform: rotate(180deg);
}
.arrow-icon.hide {
	position: relative;
	z-index: -10;
	opacity: 0;
	cursor: initial;
}

/*--EMPTY-SECTION--*/

.empty-gallery {
	min-height: 300px;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
}
.empty-gallery > .box-ctn {
	border-radius: 10px;
	background-color: #0ad4fa;
	padding: 2rem 0 1rem;
	margin: 1rem;
}
.empty-gallery .fa-icon {
	font-size: 5rem;
}
.empty-gallery h2 {
	font-weight: 500;
	font-size: 1.8rem;
	max-width: 30rem;
	margin: 2rem 1rem 1rem;
}
.empty-gallery h4 {
	font-weight: 400;
	font-size: 0.9rem;
	margin: 0 auto;
}
.empty-gallery a {
	color: gold;
	font-weight: 600;
}

/*--CARDS--*/

.product-card {
	width: 100%;
	max-width: 300px;
	background-color: #ffffff;
	text-align: center;
	padding: 1.5rem;
	box-shadow: 3px 3px 5px -2px #c8c8c8;
	position: relative;
}
.product-card > img {
	display: block;
	width: 100%;
	line-height: 10rem;
}
.product-card > .product-category::before {
	content: '';
	display: block;
	border: 0.5px solid gainsboro;
	margin-bottom: 1rem;
}
.product-card > h4 {
	font-weight: 400;
	margin: 0;
	line-height: 1.4rem;
	text-align: left;
}
.product-card > .product-category {
	color: gray;
}
.product-card > .coins-left-msg {
	color: white;
	background-color: #464343bf;
	padding: 0.5rem 0.5rem 0.5rem 0.8rem;
	width: max-content;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	position: absolute;
	right: 1rem;
	top: 1rem;
}
.product-card > .buy-icon {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	z-index: 5;
}
.coin-icon {
	margin-left: 0.4rem;
}
.buy-icon .circle {
	fill: #0ad4fa;
}
.buy-icon .bag-icon {
	fill: #ffffff;
}

.product-card.active {
	transform: translate(-2px, -7px);
	box-shadow: 8px 10px 18px 3px rgb(170, 170, 170);
}
.product-card.active > .buy-icon .circle {
	fill: #ffffff;
}
.product-card.active > .buy-icon .bag-icon {
	fill: #0ad4fa;
}
.product-card.active > .card-overlay {
	display: initial;
}

.card-overlay {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #0ad2facc;
	position: absolute;
	left: 0;
	top: 0;
}
.card-overlay > .price {
	color: white;
	font-size: 2.5rem;
	font-weight: 400;
	margin-top: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-overlay .coin-icon {
	height: 2.5rem;
	width: 2.5rem;
}
.card-overlay > .redeem-btn {
	width: 80%;
	margin: 0.5rem auto;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 2.7rem;
	color: gray;
	background-color: white;
	border: none;
	border-radius: 1.5rem;
}

@media screen and (min-width: 580px) {
	.main-section {
		padding: 1rem 2rem;
	}
	.cards-ctn {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 768px) {
	.main-section {
		padding: 1rem 4rem;
	}
	.cards-ctn {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 900px) {
	.controls-bar:first-child {
		padding-bottom: 0;
	}
	.sort-controls-ctn {
		position: initial;
		overflow: initial;
	}
	.sort-controls-ctn > p {
		line-height: 2.5rem;
		padding-left: 1rem;
		border-left: 2px solid gainsboro;
	}
}

@media screen and (min-width: 1024px) {
	.main-section {
		padding: 1rem 5rem;
	}
	.cards-ctn {
		grid-template-columns: repeat(4, 1fr);
	}
	.product-card:hover {
		transform: translate(-2px, -7px);
		box-shadow: 8px 10px 18px 3px rgb(170, 170, 170);
	}
	.product-card:hover > .buy-icon .circle {
		fill: #ffffff;
	}
	.product-card:hover > .buy-icon .bag-icon {
		fill: #69b9c9;
	}
	.product-card:hover > .card-overlay {
		display: initial;
	}
}
