/*--MAIN-SECTION-STYLES--*/

.main-section {
	background-color: #fafafa;
	padding: 1rem 3rem;
}

/*--CONTROLS-BAR-STYLES--*/

.controls-bar {
	width: 100%;
	height: 5rem;
	margin: 1rem auto;
	border-bottom: 2px solid gainsboro;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sort-controls-ctn {
	border-left: 2px solid gainsboro;
	padding-left: 1rem;
	line-height: 2.5rem;
	width: 80%;
}

.sort-option-btn {
	line-height: 1.3rem;
	padding: 0.5rem 1rem;
	margin: 0 0.5rem;
	background-color: #0ad4fa;
	color: white;
	border-radius: 1rem;
	border: none;
}
